{{ define "title" }}
  {{- .Site.Title -}}
    {{ if .Site.Params.titleSeperator }}
      {{- " " -}} {{- .Site.Params.titleSeperator | safeHTML -}} {{- " " -}}
    {{ else }}
      -
    {{ end }}
  {{- .Title -}}
{{ end }}

{{ define "main" }}
  {{ partial "page-title.html" . }}

  <div class="site-content">
    <article class="page page--about">
      <header>
        <h1 class="page__title">{{- .Title -}}</h1>
      </header>
      <section class="page__content">{{ .Content }}</section>
    </article>
  </div>
{{ end }}