// -----------------------------------------------------------------------------
// This file contains all styles related to an article component.
// -----------------------------------------------------------------------------

.articles {
  padding: 0 60px;
}

.article {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.1);

  &__header {
    margin: 0 0 20px 0;
    color: $color__theme;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      margin: 0 0 20px 0;
      background-color: $color__theme;
    }
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-family: $font__title;
    font-weight: 700;
  }

  &__date {
    font-size: 16px;
    font-family: $font__main;
    color: $color__dark;
  }

  &__content {
    > h3 {
      margin: 2rem 0 0.75rem 0;
      font-size: 28px;
      font-family: $font__title;
      font-weight: 700;
      color: $color__darkest;
    }

    > h4 {
      margin: 2rem 0 0.5rem 0;
      font-size: $font__base-size;
      font-family: $font__title;
      font-weight: 700;
      color: $color__darkest;
    }

    > p {
      margin: 0;
      font-size: $font__base-size;
      font-family: $font__main;
      line-height: $font__base-line-height;
      color: $color__dark;
    }

    > p + p {
      margin-top: 1.5rem;
    }

    > p > img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    > p a {
      display: inline-block;
      color: $color__theme;
      text-decoration: none;
      border-bottom: 2px solid;
      padding: 0.1em 0.2em 0;
      margin: 0 -0.1em 1em;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: 0;
        transition: opacity 0.2s;
      }

      &:hover::before {
        opacity: 0.1;
      }

      &:active::before {
        opacity: 0.2;
        transition-duration: 0s;
      }
    }

    > ul {
      margin: 1.5rem 0;
      padding: 0 0 0 3rem;

      li {
        font-size: $font__base-size;
        font-family: $font__main;
        line-height: $font__base-line-height;
        color: $color__dark;
      }
    }
  }

  & + & {
    margin-top: 40px;
  }
}
