.pagination {
  margin: 40px 0 80px;

  &__count {
    display: block;
    font-size: $font__base-size;
    font-family: $font__main;
    line-height: $font__base-line-height;
    color: $color__dark;
    text-align: center;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      margin: 0 auto 20px;
      background-color: $color__theme;
    }
  }
}
