.post-content {
  // Auto summarised content is dumped into the containing div as plain text
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  // Remove margins on first and last elements
  // Ref: https://css-tricks.com/snippets/css/remove-margins-first-element/
  > :first-child { margin-top: 0 !important; margin-left: 0 !important; }
  > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

  p {
    margin: 0 0 1.3rem;
  }

  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-family: $font__title;
    line-height: 1.2;
    color: $color__dark;
  }

  h1 {
    font-size: 2.827em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.999em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.414em;
    font-weight: 700;
  }

  h4 {
    font-size: 1em;
    font-weight: 700;
  }

  h5, h6 {
    margin: 1.414em 0 0.5em;
    font-family: $font__title;
    line-height: 1.2;
  }

  h5 {
    font-size: 0.707em;
    font-weight: 600;
    color: $color__dark;
  }

  h6 {
    font-size: 0.707em;
    font-weight: 600;
    color: $color__mid;
  }

  ul,
  ol {
    margin: 0 0 1.3rem;
    padding: 0 0 0 1.3rem;

    li {
      font-size: 1em;
    }
  }

  small {
    font-size: 0.5em;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  del {
    color: $color__mid;
  }

  sub,
  sup {
    font-size: 0.5em;
  }

  blockquote {
    margin: 0 0 1.3rem;
    padding: 1rem;
    background-color: rgba($color__theme, 0.1);
    border-radius: $setting__default-border-radius;
    border-left: $setting__default-border-width solid $color__theme;

    p:last-child {
      margin-bottom: 0;
    }
  }

  pre:not(.chroma) {
    margin: 0 0 1.3rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: rgba($color__theme, 0.1);
    overflow: auto;
  }

  code {
    font-size: 1em;
    line-height: 1.2;
  }

  .highlight {
    margin: 0 0 1.3rem;
  }

  dl {
    margin: 0 0 1.3rem;

    > dt {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  table {
    margin-bottom: 1rem;
    font-variant-numeric: lining-nums tabular-nums;
    border-collapse: collapse;
  }

  td, th {
    padding: 0.5rem 0.75rem;
    text-align: left;
    line-height: 1;
  }

  th {
    border-bottom: 4px solid $color__theme;
  }

  tr:nth-child(even) td {
    background-color: rgba($color__theme, 0.1);
  }
}
