.post-content {
  // Auto summarised content is dumped into the containing div as plain text
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  // Remove margins on first and last elements
  // Ref: https://css-tricks.com/snippets/css/remove-margins-first-element/
  > :first-child { margin-top: 0 !important; margin-left: 0 !important; }
  > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

  p {
    margin: 0 0 1.3rem;
  }

  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-family: $font__title;
    line-height: 1.2;
    color: $color__grey-600;
  }

  h1 {
    font-size: 1.999em;
    font-weight: 700;
    color: $color__primary-800;

    @include mappy-bp(small) {
      font-size: 2.827em;
    }
  }

  h2 {
    font-size: 1.414em;
    font-weight: 700;
    color: $color__primary-700;

    @include mappy-bp(small) {
      font-size: 1.999em;
    }
  }

  h3 {
    font-size: 1.414em;
    font-weight: 700;
  }

  h4 {
    font-size: 1em;
    font-weight: 700;
  }

  h5, h6 {
    margin: 1.414em 0 0.5em;
    font-family: $font__title;
    line-height: 1.2;
  }

  h5 {
    font-size: 0.707em;
    font-weight: 600;
    color: $color__grey-600;
  }

  h6 {
    font-size: 0.707em;
    font-weight: 600;
    color: $color__grey-500;
  }

  a {
    @include basic-link;
  }

  sup a,
  sub a {
    border-bottom: 0;

    &::before {
      display: none;
    }
  }

  ul,
  ol {
    margin: 0 0 1.3rem;
    padding: 0 0 0 1.3rem;

    li {
      font-size: 1em;
    }
  }

  small {
    font-size: 0.5em;
  }

  strong {
    font-weight: 700;
    color: $color__primary-800;
  }

  em {
    font-style: italic;
  }

  del {
    color: $color__grey-500;
  }

  sub,
  sup {
    font-size: 0.5em;
  }

  blockquote {
    margin: 0 0 1.3rem;
    padding: 1rem;
    background-color: $color__primary-200;
    border-radius: $setting__default-border-radius;
    border-left: $setting__default-border-width solid $color__primary-500;

    p {
      color: $color__primary-900;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  p code,
  li code {
    padding: 1px 3px;
    background-color: $color__primary-100;
    border-radius: 3px;
  }

  .highlight {
    margin: 0 0 1.3rem;
  }

  dl {
    margin: 0 0 1.3rem;

    > dt {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  table {
    margin-bottom: 1rem;
    font-variant-numeric: lining-nums tabular-nums;
    border-collapse: collapse;
  }

  td, th {
    padding: 0.5rem 0.75rem;
    text-align: left;
    line-height: 1;
  }

  th {
    border-bottom: 4px solid $color__primary-500;
  }

  tr:nth-child(even) td {
    background-color: $color__primary-200;
  }

  img {
    border: 1px solid $color__grey-200;
    border-radius: 3px;
    padding: 0.5rem;
  }

  img + img {
    margin-top: 1.5rem;
  }

  figure {
    margin: 0 0 1.5rem 0;

    figcaption {
      padding: 0.5rem 1rem 0;
      font-size: 0.875em;
    }

    figcaption h4 {
      margin: 0;
      color: $color__primary-700;
      font-weight: 400;
      text-align: center;
      font-style: italic;
    }
  }
}

.no-js .post-content {
  pre:not(.chroma) {
    padding: 0.5rem;
    color: $color__primary-900;
    background-color: $color__primary-200;
  }
}

.post-content {
  pre {
    margin: 0 0 1.3rem;
    border-radius: 3px;
    overflow: auto;
  }

  code {
    font-family: $font__code;
  }

  pre code {
    font-size: 1em;
    line-height: 1.2;
  }
}
