.post {
  $self: &;
  padding: 1rem 0;
  border-top: 1px solid $color__theme;

  @include mappy-bp(small) {
    margin: 1rem 1rem 0;
    padding: 2rem;
    background: #fff;
    border-radius: $setting__default-border-radius;
    border-top: $setting__default-border-width solid $color__theme;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  @include mappy-bp(medium) {
    margin: 2rem 3rem 0;
  }

  & + & {
    @include mappy-bp(small) {
      margin-top: 2rem;
    }
  }

  &__header {
    padding: 0 0 1.5rem 0;

    @include mappy-bp(small) {
      padding: 0 0 1rem 0;
    }
  }

  &__title {
    display: block;
    margin: 0 0 0.5rem 0;
    color: $color__theme;
    font-size: 1.414em;
    font-family: $font__title;
    font-weight: 700;
    line-height: 1.2;
    transition: color 0.2s;

    @include mappy-bp(small) {
      font-size: 1.999em;
    }

    &--flex {
      flex: 1;
    }

    &--single {
      color: $color__dark;
    }

    &:visited {
      color: $color__dark;
    }

    &:hover,
    &:focus {
      color: $color__theme;
    }

    &:hover > #{ $self }__title-icon #{ $self }__title-icon-link,
    &:focus > #{ $self }__title-icon #{ $self }__title-icon-link {
      fill: $color__theme;
    }
  }

  &__title-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &__title-icon-link {
    fill: transparent;
    transition: fill 0.2s;
  }

  &__meta {
    display: flex;
    flex-direction: column;

    @include mappy-bp(medium) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__date {
    display: block;
    padding: 0 0 0.5rem 0;
    font-size: 1em;
    color: $color__darker;

    @include mappy-bp(medium) {
      padding: 0 1.5rem 0 0;
      font-size: 0.707em;
    }
  }

  &__published {
    font-weight: 600;
    color: $color__dark;
  }

  &__published-value {
    white-space: nowrap;
  }

  &__categories {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    @include mappy-bp(medium) {
      margin-right: 1.5rem;
    }
  }

  &__category {
    flex: 0 1 auto;
  }

  &__category + #{ $self }__category {
    margin-left: 0.25rem;
  }

  &__category-link {
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    background-color: $color__darker;
    border-width: 2px;
    border-style: solid;
    border-color: $color__darker;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    @include mappy-bp(medium) {
      font-size: 0.707em;
    }

    &::before {
      display: none;
    }

    &:visited {
      color: $color__mid;
      background-color: $color__off-white;
      border-color: $color__mid;
    }

    &:hover,
    &:focus {
      outline: 0;
      color: $color__darker;
      background-color: transparent;
      border-color: $color__darker;
    }
  }

  &__footer {
    display: flex;
    padding-top: 2rem;
  }

  &__tags {
    display: flex;
    padding: 0;
    margin: 0;
    flex: 0 1;
    flex-direction: column;
    list-style: none;

    @include mappy-bp(medium) {
      flex-direction: row;
    }
  }

  &__tag {
    flex: 0 1 auto;
  }

  &__tag + #{ $self }__tag {
    margin-left: 0.25rem;
  }

  &__tag-link {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
    color: $color__mid;
    word-break: normal;
    transition: color 0.2s;

    @include mappy-bp(medium) {
      font-size: 0.707em;
    }

    &:visited {
      color: $color__mid;
    }

    &:hover,
    &:focus {
      outline: 0;
      color: $color__theme;
    }
  }

  &__tag-label {
    color: $color__theme;
  }

  &__tag-link:visited #{ $self }__tag-label {
    color: $color__mid;
  }

  &__truncated {
    margin-left: auto;
    flex: 0 1 auto;
    align-self: flex-end;
  }

  &__read-more {
    display: flex;
    color: $color__theme;
    align-items: center;

    &:visited {
      color: $color__darker;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color__darkest;
    }
  }

  &__read-more-label {
    flex: 1 0 auto;
  }

  &__read-more-icon {
    flex: 1 0 20px;
    width: 20px;
    height: 20px;
    fill: $color__theme;
    transition: fill 0.2s;
  }
}

.post--compact {
  display: block;

  .post__header {
    margin: 0;
  }
}

.post--summary + .post--summary {
  border-bottom: 1px solid $color__theme;
}