.post {
  $self: &;
  padding: 1.5rem 0;
  border-top: $setting__default-border-width solid $color__primary-500;

  @include mappy-bp(small) {
    margin: 1rem 1rem 0;
    padding: 2rem;
    background: #fff;
    border-radius: $setting__default-border-radius;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  @include mappy-bp(medium) {
    margin: 2rem 3rem 0;
  }

  & + & {
    @include mappy-bp(small) {
      margin-top: 2rem;
    }
  }

  &__header {
    padding: 0 0 1.5rem 0;

    @include mappy-bp(small) {
      padding: 0 0 1rem 0;
    }
  }

  &__title {
    display: block;
    margin: 0 0 0.5rem 0;
    color: $color__primary-500;
    font-size: 1.414em;
    font-family: $font__title;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    transition: color 0.2s;

    @include mappy-bp(small) {
      font-size: 1.999em;
    }

    &--flex {
      flex: 1;
    }

    &--single {
      color: $color__grey-600;
    }

    &:visited {
      color: $color__grey-600;
    }

    &:hover,
    &:focus {
      outline: 0;
      color: $color__primary-500;
    }
  }

  h1#{ $self }__title {
    &:hover {
      color: $color__grey-600;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include mappy-bp(medium) {
      flex-wrap: nowrap;
    }
  }

  &__date,
  &__read-time {
    display: flex;
    padding: 0 0.75rem 0 0;
    align-items: center;
    font-size: 1em;
    white-space: nowrap;
    color: $color__grey-500;

    @include mappy-bp(medium) {
      padding: 0 1rem 0 0;
      font-size: 0.707em;
    }
  }

  &__date-icon,
  &__read-time-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.25rem;
    vertical-align: text-bottom;
  }

  &__meta-icon {
    fill: $color__primary-500;
  }

  &__categories {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;

    @include mappy-bp(medium) {
      margin-right: 1.5rem;
    }
  }

  &__category {
    flex: 0 1 auto;
  }

  &__category + #{ $self }__category {
    margin-left: 0.25rem;
  }

  &__category-link {
    @include basic-button--small;
    display: flex;
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @include mappy-bp(small) {
      padding-top: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &:empty {
      display: none;
    }
  }

  &__tags {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
  }

  &__tag {
    margin-right: 0.5rem;
    flex: 0 1 auto;
  }

  &__tag-link {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-weight: 600;
    color: $color__grey-500;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.2s;

    &:visited {
      color: $color__grey-500;
    }

    &:hover,
    &:focus {
      outline: 0;
      color: $color__primary-500;
    }

    @include mappy-bp(small) {
      font-size: 1em;
    }
  }

  &__tag-label {
    color: $color__primary-500;
  }

  &__tag-link:visited #{ $self }__tag-label {
    color: $color__grey-500;
  }

  &__truncated {
    margin: 1rem 0;
    order: -1;

    @include mappy-bp(small) {
      margin: 0 0 0 auto;
      flex: 0 1 auto;
      order: unset;
    }
  }

  &__read-more {
    display: flex;
    color: $color__primary-500;
    align-items: center;
    text-decoration: none;
    transition: color 0.2s;

    &:visited {
      color: $color__grey-400;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color__grey-800;
    }
  }

  &__read-more-label {
    white-space: nowrap;
  }

  &__read-more-icon {
    width: 20px;
    height: 20px;
    fill: $color__primary-500;
    transition: fill 0.2s;
  }

  &__read-more:visited &__read-more-icon {
    fill: $color__grey-400;
  }
}

.post--compact {
  padding: 1rem 0;
  margin-top: 0;

  @include mappy-bp(small) {
    padding: 1rem;
  }

  + .post--compact {
    margin-top: 0;

    @include mappy-bp(small) {
      margin-top: 1rem;
    }
  }
}

.post--single {
  border-top: 0;
  padding-bottom: 0;

  @include mappy-bp(medium) {
    padding-bottom: 1.5rem;
  }
}
