// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
  border-top: $setting__default-border-width solid $color__theme;
  background: $color__off-white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: 0;
}

hr {
  display: block;
  width: 2.5em;
  height: 4px;
  margin: 0 0 1rem 0;
  border: 0;
  background-color: $color__theme;
}
