table {
  margin-bottom: 1em;
  font-variant-numeric: lining-nums tabular-nums;
  border-collapse: collapse;
}

td, th {
  padding: 0.5em 0.75em;
  text-align: left;
  line-height: 1;
}

th {
  border-bottom: 4px solid $color__theme;
}

tr:nth-child(even) td {
  background-color: rgba($color__theme, 0.1);
}
