// Typography scale: http://type-scale.com/?size=20&scale=1.618&text=A%20Visual%20Type%20Scale&webfont=Fira%2BSans&font-family=%27Fira%20Sans%27%2C%20sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

html {
  font-size: 1em;//16px

  @include respond-to('small') {
    font-size: 1.25em;//20px
  }
}

body {
  font-family: $font__main;
  font-weight: 400;
  line-height: $font__base-line-height;
  color: $color__text-default;
}

p {
  margin: 0 0 1.3em 0;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-family: $font__title;
  line-height: 1.2;
  color: $color__darkest;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  font-family: $font__title;
  line-height: 1.2;
}

h5 {
  font-size: 1.1em;
  color: $color__dark;
}

h6 {
  font-size: 1.1em;
  color: $color__mid;
}

ul,
ol {
  margin: 0 0 1.3em 0;
  padding: 0 0 0 1.3em;

  li {
    font-size: 1rem;
  }
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

del {
  color: $color__mid;
}

blockquote {
  margin: 0 0 1.3em 0;
  padding: 1em;
  background-color: rgba($color__theme, 0.1);
  border-radius: $setting__default-border-radius;
  border-left: $setting__default-border-width solid $color__theme;

  p:last-child {
    margin-bottom: 0;
  }
}

code {
  padding: 0.05em 0.2em;
  border-radius: 3px;
  background-color: rgba($color__theme, 0.1);
}

pre {
  margin: 0 0 1.3em 0;
  padding: 0.5em;
  border-radius: 3px;
  background-color: rgba($color__theme, 0.1);
  overflow: auto;

  > code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

dl {
  margin: 0 0 1.3em 0;

  > dt {
    font-weight: bold;
    text-decoration: underline;
  }
}