.taxonomy__terms {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style: none;

  @include mappy-bp(small) {
    display: flex;
    flex-wrap: wrap;
  }
}

.taxonomy__term {
  $self: &;
  margin-bottom: 0.5rem;

  &-link {
    @include basic-button;
  }

  &-count {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    color: $color__primary-800;
    background-color: $color__primary-100;
    border-radius: 2px;
  }

  & + #{ $self } {
    @include mappy-bp(small) {
      margin-left: 0.5rem;
    }
  }
}
