.taxonomy__terms {
  display: flex;
  margin: 2rem -0.5rem 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.taxonomy__term {
  margin: 0 0 0.5rem 0.5rem;

  &-link {
    @include basic-button;
  }

  &-count {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    color: $color__primary-800;
    background-color: $color__primary-100;
    border-radius: 2px;
  }
}
