.page {
  &__title {
    font-family: $font__title;
    font-size: 1.999em;
    line-height: 1.2;
    margin: 0;
    padding: 2rem 0 1rem;
  }

  &__content {
    p, ul, ol {
      margin: 0 1em 1.3em;

      @include respond-to('small') {
        margin: 0 3em 1.3em;
      }
    }

    p:first-of-type {
      margin: 0 0 1.3em;
      font-size: 1.5em;
    }
  }
}
