.page {
  &__title {
    margin: 0 0 1.3rem;
    font-size: 1.414em;

    @include mappy-bp(medium) {
      font-size: 1.999em;
    }
  }

  &__content {
    p, ul, ol {
      margin: 0 0 1.3rem;

      @include mappy-bp(small) {
        margin: 0 1rem 1.3rem;
      }

      @include mappy-bp(medium) {
        margin: 0 3em 1.3em;
      }
    }

    p:first-of-type {
      margin: 0 0 1.3rem;
      font-size: 1.414em;
    }

    a {
      @include basic-link;
    }
  }
}
