<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  <meta name="description" content="{{ .Site.Params.MetaDescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{ .Site.BaseURL }}images/favicon/favicon-16x16.png" rel="shortcut icon" type="image/png">

  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Fira+Sans:700" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
</head>
<body>
  <div class="site-container">
    <div class="site-container__inner">
      <main role="main">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
      </main>
      <footer class="site-footer">
        <div class="site-footer__inner">
          <p class="site-footer__copyright">&copy; {{ now.Format "2006"}} <a href="{{ .Site.Params.AuthorWebsite }}">{{ .Site.Params.Author }}</a>. Icons from <a href="http://entypo.com">Entypo+</a>.</p>
        </div>
      </footer>

    </div>
  </div>
</body>
</html>