{{/* Default list page */}}
{{ define "title" }}
  {{ partial "title-override.html" . }}
{{ end }}

{{ define "main" }}
  <div class="taxonomy">
    <header>
      <h1 class="taxonomy__title">All <span class="taxonomy__name">{{ .Title }}</span></h1>
    </header>
    {{ if .Content }}
    <!-- Show intro content if a _index.md is present for the type -->
    <div class="site-list__intro">{{ .Content }}</div>
    {{ end }}

    <ul class="taxonomy__list">
    {{ range .Pages }}
      <li class="post post--compact">
        <a href="{{ .Permalink }}" class="post__title" itemprop="title">{{ .Title }}</a>
        {{ partial "post-meta.html" . }}
      </li>
    {{ end }}
    </ul>

  </div>
{{ end }}