{{ define "title" }}{{ partial "title-override.html" . }}{{ end }}

{{ define "main" }}
  <div class="taxonomy">
    <header>
      {{ if eq .Type "post" }}
        <h1 class="taxonomy__title">All <span class="taxonomy__name">{{ humanize .Title | lower }}</span></h1>
      {{ else }}
        <h1 class="taxonomy__title">All posts for the {{ humanize .Type | singularize | lower }}<br /><span class="taxonomy__name">{{ .Title }}</span></h1>
      {{ end }}
    </header>
    {{ if .Content }}
    <!-- Show intro content if a _index.md is present for the type -->
    <div class="site-list__intro">{{ .Content }}</div>
    {{ end }}

    <ul class="taxonomy__list">
    {{ range .Pages }}
      <li class="post post--compact">
        <a href="{{ .Permalink }}" class="post__title" itemprop="title">{{ .Title }}</a>
        {{ partial "post-meta.html" . }}
      </li>
    {{ end }}
    </ul>

  </div>
{{ end }}