<section class="post post--compact post--section-{{ .Section }}">
  <header class="post__header">
    <a href="{{ .RelPermalink }}" class="post__title">{{ .Title }}</a>
    <div class="post__meta">
      <time class="post__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        <span class="post__published">Published:</span>
        <span class="post__published-value">{{ .Date.Format "2006-01-02" }}</span>
      </time>
      {{ if .Params.categories }}
      <ul class="post__categories">
        {{ range $index, $category := .Params.categories }}
        <li class="post__category"><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/" class="post__category-link">{{ $category }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </header>
</section>