{{ define "title" }}
  {{ partial "title-override.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "page-title.html" . }}

  <div class="site-content">
    <article class="post post--single">
      <header class="post__header">
        <h1 class="post__title post__title--single">{{ .Title }}</h1>
        <time class="post__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          <span class="post__published">Published:</span>
          <span class="post__published-value">{{ .Date.Format "2006-01-02" }}</span>
        </time>
        {{ if .Params.categories }}
        <ul class="post__categories">
          {{ range $index, $category := .Params.categories }}
          <li class="post__category"><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/" class="post__category-link">{{ $category }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </header>
      <section class="post-content">
        {{ .Content }}
      </section>
    </article>
  </div>

  <aside class="post__siblings">
    <span class="post__more">More posts</span>
    {{ with .NextInSection }}
      <a class="post__next" href="{{ .Permalink }}">&lt; {{ .Title }}</a>
    {{ end }}
    {{ with .PrevInSection }}
      <a class="post__previous" href="{{ .Permalink }}">{{ .Title }} &gt;</a>
    {{ end }}
  </aside>
{{ end }}
