{{ define "title" }}{{ partial "title-override.html" . }}{{ end }}

{{ define "main" }}
  <article class="post post--single" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
      <h1 class="post__title post__title--single" itemprop="title">{{ .Title }}</h1>
      {{ partial "post-meta.html" . }}
    </header>
    <section class="post-content">
      {{ .Content }}
    </section>
    <footer class="post__footer">
      {{ if .Params.tags }}
      <ul class="post__tags">
        {{ range $index, $tag := .Params.tags }}
        <li class="post__tag"><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="post__tag-link"><span class="post__tag-label">#</span>{{ $tag }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </footer>
  </article>

  {{ partial "post-siblings.html" . }}
{{ end }}
