<section class="post post--summary">
  <header class="post__header">
    <a href="{{ .RelPermalink }}" class="post__title">{{ .Title }}</a>
    <div class="post__meta">
      <time class="post__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        <span class="post__published">Published:</span>
        <span class="post__published-value">{{ .Date.Format "2006-01-02" }}</span>
      </time>
      {{ if .Params.categories }}
      <ul class="post__categories">
        {{ range $index, $category := .Params.categories }}
        <li class="post__category"><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/" class="post__category-link">{{ $category }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </header>
  <div class="post-content">
    {{ .Summary }}
  </div>
  <footer class="post__footer">
    {{ if .Params.tags }}
    <ul class="post__tags">
      {{ range $index, $tag := .Params.tags }}
      <li class="post__tag"><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="post__tag-link"><span class="post__tag-label">#</span>{{ $tag }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ if .Truncated }}
    <div class="post__truncated">
    <!-- This post includes a read more link, but only if the summary is truncated... -->
    <a href="{{ .RelPermalink }}" class="post__read-more">
      <span class="post__read-more-label">Read full post</span>
      <span class="post__read-more-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M9.163,4.516c0.418,0.408,4.502,4.695,4.502,4.695C13.888,9.43,14,9.715,14,10s-0.112,0.57-0.335,0.787
        c0,0-4.084,4.289-4.502,4.695c-0.418,0.408-1.17,0.436-1.615,0c-0.446-0.434-0.481-1.041,0-1.574L11.295,10L7.548,6.092
        c-0.481-0.533-0.446-1.141,0-1.576C7.993,4.08,8.745,4.107,9.163,4.516z" />
        </svg>
      </span>
    </a>
    </div>
    {{ end }}
  </footer>
</section>