// ----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// ----------------------------------------------------------------------------


// Colors

// Shades of black
$color__grey-100: #efefef !default;
$color__grey-200: #d2d2d2 !default;
$color__grey-300: #b6b6b6 !default;
$color__grey-400: #9a9a9a !default;
$color__grey-500: #737373 !default;
$color__grey-600: #636363 !default;
$color__grey-700: #494949 !default;
$color__grey-800: #2f2f2f !default;
$color__grey-900: #171717 !default;

// Theme colors
$color__hue: 214 !default; // blue

// Primary shades
$color__primary-100: hsl($color__hue, 62%, 94%) !default;
$color__primary-200: hsl($color__hue, 63%, 83%) !default;
$color__primary-300: hsl($color__hue, 61%, 72%) !default;
$color__primary-400: hsl($color__hue, 61%, 61%) !default;
$color__primary-500: hsl($color__hue, 60%, 50%) !default;// This is the primary
$color__primary-600: hsl($color__hue, 56%, 40%) !default;
$color__primary-700: hsl($color__hue, 54%, 29%) !default;
$color__primary-800: hsl($color__hue, 49%, 19%) !default;
$color__primary-900: hsl($color__hue, 33%, 9%) !default;

// Text colors
$color__text-default: $color__grey-700 !default;
$color__text-button: #fff !default;
$color__text-button-hover: $color__primary-500 !default;
$color__text-button-active: $color__grey-600 !default;
$color__text-button-disabled: $color__grey-500 !default;

// Background colors
$color__background-button: $color__primary-500 !default;
$color__background-button-hover: transparent !default;
$color__background-button-active: transparent !default;
$color__background-button-disabled: $color__grey-400 !default;

// Border colors
$color__border-button: $color__primary-500 !default;
$color__border-button-hover: $color__primary-500 !default;
$color__border-button-active: $color__grey-600 !default;
$color__border-button-disabled: $color__grey-400 !default;

// Fonts
$font__base-line-height: 1.45 !default;
$font__main: 'Montserrat', sans-serif !default;
$font__title: 'Montserrat', sans-serif !default;
$font__code: 'Ubuntu Mono', monospace !default;

// Settings
$setting__default-border-radius: 4px !default;
$setting__default-border-width: 4px !default;

/// Breakpoints map
/// @see https://github.com/zellwk/mappy-breakpoints
$breakpoints: (
  'xs': 575px,
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xl': 1200px
) !default;
