// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Colors

// Shades of black
$color__off-white: #f5f5f5 !default;
$color__lightest: #D6D6D6 !default;
$color__lighter: #B7B7B7 !default;
$color__light: #999 !default;
$color__mid: #7A7A7A !default;
$color__dark: #5B5B5B !default;
$color__darker: #3D3D3D !default;
$color__darkest: #1f1f1f !default;

// Named colors
$color__royal-blue: hsl(213.6, 65.2%, 54.9%) !default;
$color__zest: hsl(28.2, 79.7%, 51.8%) !default;
$color__cinnabar: hsl(0, 86.2%, 57.3%) !default;

// Component colors
$color__theme: $color__cinnabar !default;

$color__text-default: $color__darkest !default;
$color__text-button: #fff !default;
$color__text-button-hover: $color__theme !default;
$color__text-button-active: $color__dark !default;
$color__text-button-disabled: $color__mid !default;

$color__background-button: $color__theme !default;
$color__background-button-hover: transparent !default;
$color__background-button-active: transparent !default;
$color__background-button-disabled: $color__light !default;

$color__border-button: $color__theme !default;
$color__border-button-hover: $color__theme !default;
$color__border-button-active: $color__dark !default;
$color__border-button-disabled: $color__light !default;

// Fonts
$font__base-line-height: 1.45 !default;
$font__main: 'Montserrat', sans-serif !default;
$font__title: 'Montserrat', sans-serif !default;

// Settings
$setting__default-border-radius: 4px !default;
$setting__default-border-width: 4px !default;

/// Breakpoints map
/// @see https://github.com/zellwk/mappy-breakpoints
$breakpoints: (
  'xs': 575px,
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xl': 1200px
) !default;
