// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Colors

// Shades of black
$color__off-white: #f5f5f5 !default;
$color__lightest: #D6D6D6 !default;
$color__lighter: #B7B7B7 !default;
$color__light: #999 !default;
$color__mid: #7A7A7A !default;
$color__dark: #5B5B5B !default;
$color__darker: #3D3D3D !default;
$color__darkest: #1f1f1f !default;

// Named colors
$color__blue: 214 !default;
$color__green: 110 !default;
$color__red: 10 !default;
$color__orange: 25 !default;

// Theme colors
$color__hue: $color__blue !default;
$color__hue-accent: $color__orange !default;

$color__theme: hsl($color__hue, 65%, 55%) !default;
$color__theme-lighter: hsl($color__hue, 55%, 85%) !default;
$color__theme-duller: hsl($color__hue, 25%, 95%) !default;
$color__theme-highlight: hsl($color__hue-accent, 80%, 65%) !default;

// Text colors
$color__text-default: $color__darkest !default;
$color__text-button: #fff !default;
$color__text-button-hover: $color__theme !default;
$color__text-button-active: $color__dark !default;
$color__text-button-disabled: $color__mid !default;

// Background colors
$color__background-button: $color__theme !default;
$color__background-button-hover: transparent !default;
$color__background-button-active: transparent !default;
$color__background-button-disabled: $color__light !default;

// Border colors
$color__border-button: $color__theme !default;
$color__border-button-hover: $color__theme !default;
$color__border-button-active: $color__dark !default;
$color__border-button-disabled: $color__light !default;

// Fonts
$font__base-line-height: 1.45 !default;
$font__main: 'Montserrat', sans-serif !default;
$font__title: 'Montserrat', sans-serif !default;

// Settings
$setting__default-border-radius: 4px !default;
$setting__default-border-width: 4px !default;

/// Breakpoints map
/// @see https://github.com/zellwk/mappy-breakpoints
$breakpoints: (
  'xs': 575px,
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xl': 1200px
) !default;
