// -----------------------------------------------------------------------------
// This file contains overall layout styles
// -----------------------------------------------------------------------------

.site-container {
  max-width: 50em;
  margin: 0 auto;

  &__inner {
    padding: 1em;
  }
}

.site-header {
  &__title {
    margin: 0;
    font-family: $font__title;
    font-weight: 700;
    color: $color__darkest;
  }
}

.site-intro {
  margin-top: $setting__default-gap * 2;
  margin-bottom: $setting__default-gap * 4;

  &__content {
    > p {
      font-size: 1.5em;
    }
  }
}

.site-footer {
  &__copyright {
    margin: 0;
    text-align: center;

    > a {
      color: $color__theme;
      text-decoration: none;
    }
  }
}