// -----------------------------------------------------------------------------
// This file contains overall layout styles
// -----------------------------------------------------------------------------

.site-container {
  max-width: 50em;
  margin: 0 auto;

  &__inner {
    padding: 1em;
  }
}

.site-header {
  $self: &;

  &__title {
    margin: 0;
    font-family: $font__title;
    font-size: 2.441em;
    font-weight: 700;
    line-height: 1.2;
  }

  &__link{
    display: flex;
    padding: 0;
    margin: 0;
    align-content: center;
    color: $color__darkest;
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $color__theme;
    }

    &:hover > #{ $self }__icon #{ $self }__icon-flash,
    &:focus > #{ $self }__icon #{ $self }__icon-flash {
      fill: $color__theme;
    }
  }

  &__icon {
    flex: 0 0 36px;
  }

  &__icon-flash {
    fill: $color__darkest;
    transition: fill 0.3s ease-in-out;
  }

  &__name {
    flex: 0;
  }
}

.site-intro {
  margin-top: $setting__default-gap * 2;
  margin-bottom: $setting__default-gap * 4;

  &__content {
    > p {
      margin: 0 0 1.3em;
      font-size: 1.5em;
    }
  }
}

.site-content {
  margin-top: 4em;
  padding: 0 1em;

  @include respond-to('small') {
    padding: 0 3em;
  }
}

.site-list {
  &__title {
    margin: 2em 0 1em 0;
    font-size: 1.953em;
    font-family: $font__title;
    line-height: 1.2;
  }

  &__type {
    color: $color__dark;
  }

  &__name {
    color: $color__mid;
  }
}

.site-footer {
  &__copyright {
    margin: 4em 0 0 0;
    text-align: center;

    > a {
      color: $color__theme;
      text-decoration: none;
    }
  }
}