{{ define "main" }}
{{ $paginator := .Paginate (where .Pages "Type" "post") }}
  {{ if eq $paginator.PageNumber 1 }}
    {{ if .Content }}
    <div class="site-intro">
      <header class="site-intro__header">
        <h1 class="site-intro__title">{{- .Title -}}</h1>
      </header>
      <div class="site-intro__content">{{- .Content -}}</div>
    </div>
    {{ end }}
  {{ end }}

  <div class="posts posts--home">
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ partial "pagination.html" $paginator }}
{{ end }}