{{ define "title" }}
  {{ partial "title-override.html" . }}
{{ end }}

{{ define "main" }}
  <div class="site-list">
    <header>
      <h1 class="site-list__title">
      {{ if ne (.Type) ("posts") }}
        <!-- Only want the type to appear for taxonomy lists -->
        <span class="site-list__type">{{ humanize .Type | singularize }}:</span>
      {{ end }}
        <span class="site-list__name">{{ .Title }}</span>
      </h1>
    </header>
    {{ if .Content }}
    <!-- Show intro content if a _index.md is present for the type -->
    <div class="site-list__intro">{{ .Content }}</div>
    {{ end }}

    <div class="taxonomy">
      <ul class="taxonomy__terms">
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.ByCount }}
        {{ $name := .Name }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <li><a href="{{ .Permalink }}">{{ $name }}</a> {{ $count }}</li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
{{ end }}