{{ define "title" }}
  {{ .Title }}
    {{ if .Site.Params.titleSeperator }}
      {{ .Site.Params.titleSeperator | safeHTML }}
    {{ else }}
      -
    {{ end }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  {{ partial "page-title.html" . }}

  <main id="content" class="site-list site-list--posts">
    <article>
      <h1 class="site-list__title"><span class="site-list__name">{{ .Title }}</span></h1>
      {{ .Content }}
    </article>

    {{ range .Pages }}
        {{ .Render "summary" }}
    {{ end }}

  </main>
{{ end }}